
<footer id="footer">
    <!-- <div id="footer-content"> -->
        This website is cleaner than
        <a href = "https://www.websitecarbon.com/website/naybnet-gitlab-io-website/">98% of websites</a> tested (Source: WebsiteCarbon).
    <!-- </div> -->
</footer>
</html>