{{ partial "header.html" . }}

<section id=content>
  <ul class=posts_listing>
    {{ range .Site.RegularPages }}
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ if (and .Params.date .Params.show_date) }}
          <div id=date>
            <time>{{ .Date.Format (.Site.Params.dateform | default "January 2006") }}</time>
          </div>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}

